---
---

<section class="w-full  mx-auto">
  <img 
    src="/img/banner/banner.png" 
    alt="Banner de servicios de carpintería y diseño de interiores"
    class="w-full h-auto object-cover" 
  />
</section>