---
---

<!-- section class="w-[1536px]  mx-auto">
  <img 
    src="/img/banner/banner-mini.png" 
    alt="Banner de servicios de carpintería y diseño de interiores"
    class="w-full h-auto object-cover" 
  />
</section>
--><